.container-fluid{
    background-color: cyan;
}
.main {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.jumbotron{
    background-color: blueviolet;
      padding-top: 5%;
      padding-bottom: 5%;
}
h1{
     text-align: center;
     text-decoration: burlywood;
} 

.display{
    border: 2px solid blue;
    padding: 10px;
    margin: 15px;
    text-align: center;
}
