<div class="container-fluid">
    <div class="main">
        <div class="header">
             <div class="jumbotron">
                 <h1>Welcome To Quotes Favorite World.</h1>
             </div>
        </div>
        <!--column-->
        <div class="row">
            <div class="col-md-6">
                <div *ngFor='let quote of quotes; let i=index'>
                  <div class="display">
                    <h4 id={{i}} appHighlight>{{quote.name}}</h4>
                    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote'
                      (isComplete)='deleteQuote($event,i)'>
                    </app-quote-detail>
                    <button (click)='toggleDetails(i)' class="btn btn-primary">MORE </button>
                  </div>
                </div>
                </div>
                <div class="col-md-6">
                   <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
                </div>       
        </div> 
    </div>
    <hr>
<footer class="page-footer">
  <div class="footer-copyright text-center pt-5">
    All Rights Reserved 2020|CHEBETEDDAHROTICH <br>
    Copyright &copy; Quotes App <br>
  </div>

    