.container-fluid{
    background-color: skyblue;
}
.main {
  background-image: url('/assets/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
.jumbotron{
    background-color: blueviolet;
      padding-top: 5%;
      padding-bottom: 5%;
}
h1{
     text-align: center;
     text-decoration: burlywood;
} 
.display{
    border: 2px solid blue;
    padding: 10px;
    margin: 15px;
    text-align: center;
}
h4{
  text-decoration:red ;
}
.page-footer{
  background-color: black;
  font-size: larger;
  font-weight: bold;
}
